doctype html
html(lang='en')
    head
        include _include/head
    body
        header
        main.index

            article.even
                div.row
                    div.left
                        span.ordinary So white
                        span.are are
                    div.right
                        span.you you
                div.row
                    div.left
                        span.you you
                        span.are are
                    div.right
                        span.ordinary still
                div.row
                    div.left
                        span.ordinary
                        span.are are
                    div.right
                        span.you you
                        span.ordinary paralyzed
            // article.odd
            //     div.row
            //         div.center
            //             span.ordinary Religious approach to knowledge or information

        footer
