doctype html
html(lang='en')
    head
        include _include/head
    body
        header
        main.reiss-motivations

            article.reiss-motivations
                div.row.headings
                each heading, colnumber in data.headings
                    div.col(class='colnumber-' + colnumber)= heading
                each row in data.rows
                    div.row.data
                    each col, colnumber in row
                        div.col(class='colnumber-' + colnumber)= col


